* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-visual {
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}
.main-visual-content {
  color: #000000;
  padding: 20px;
}
main {
  width: 840px;
  margin: 50px auto;
}
.blog-box1 {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
}
.blog-box2 {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
}
.blog-box3 {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
}
.blog-box4 {
  padding-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
}
